---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Socials from "@/components/Socials.astro";
import LinkButton from "@/components/LinkButton.astro";
import Card from "@/components/Card.astro";
import getSortedPosts from "@/utils/getSortedPosts";
import IconRss from "@/assets/icons/IconRss.svg";
import IconArrowRight from "@/assets/icons/IconArrowRight.svg";
import { SITE } from "@/config";
import { SOCIALS } from "@/constants";
import { Image } from "astro:assets";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);
---

<Layout>
  <Header />
  <main id="main-content" data-layout="index" class="app-layout">
    <section id="hero" class:list={["pt-8 pb-6", "border-b border-border"]}>
      <div class="my-4 flex flex-wrap items-center gap-4 sm:my-8">
        <Image
          src="/avatar.png"
          alt="my avatar"
          priority
          width={160}
          height={160}
          class="size-16 rounded-full border border-border object-cover sm:size-20 md:size-24"
        />

        <h1 class="inline-block text-4xl font-bold sm:text-5xl">
          Hi, I'm Lystran
        </h1>

      </div>

      <p class="text-lg leading-relaxed sm:text-xl">
        种一棵树最好的时间是十年前，其次是现在。
        这里是我践行自律的起点。<br>
        无论代码还是事业还是人生，唯有<b>持续交付</b>才能产生复利。<br>
        既然立志改变，便只顾风雨兼程。
      </p>
      <p class="mt-3 text-lg leading-relaxed sm:text-xl">
        阅读文章，或者在 
        <LinkButton
          class="underline decoration-dashed underline-offset-4 hover:text-accent"
          href="https://github.com/LystranG/lystran-paper#readme"
        >
          README
        </LinkButton> 查看该博客的信息。<br>
        文中若有疏漏或错误，诚挚期待您的指正与交流。
      </p>
      <p class="mt-3 text-lg leading-relaxed sm:text-xl">
        随时欢迎来信交流，哪怕只是说声 Hello。<br>
        Feel free to drop me a line, even just to say Hello.<br>
        <a 
          href="mailto:me@lystran.com" 
          class="mt-4 inline-block rounded border-2 border-skin-accent px-4 py-2 font-bold text-skin-accent hover:bg-skin-accent hover:text-skin-inverted transition-colors"
        >
          me@lystran.com
        </a>
      </p>
      {
        // only display if at least one social link is enabled
        SOCIALS.length > 0 && (
          <div class="mt-5 grid gap-3">
            <div class="grid grid-cols-[6.5ch_1fr] items-center gap-4">
              <div class="whitespace-nowrap text-foreground/80">链接：</div>
              <Socials />
            </div>

            <div class="grid grid-cols-[6.5ch_1fr] items-center gap-4">
              <div class="whitespace-nowrap text-foreground/80">RSS:</div>
              <a
                target="_blank"
                href="/rss.xml"
                class="inline-flex w-fit items-center rounded-md p-2 hover:text-accent sm:p-1"
                aria-label="rss feed"
                title="RSS Feed"
              >
                <IconRss
                  width={20}
                  height={20}
                  class="scale-125 stroke-accent stroke-3 rtl:-rotate-90"
                />
                <span class="sr-only">RSS Feed</span>
              </a>
            </div>
          </div>
        )
      }
      <p class="mt-3"><b>Timezone: </b>{SITE.timezone}</p>
    </section>

    {
      featuredPosts.length > 0 && (
        <section
          id="featured"
          class:list={[
            "pt-12 pb-6",
            { "border-b border-border": recentPosts.length > 0 },
          ]}
        >
          <h2 class="text-2xl font-semibold tracking-wide">置顶</h2>
          <ul>
            {featuredPosts.map(data => (
              <Card variant="h3" {...data} />
            ))}
          </ul>
        </section>
      )
    }

    {
      recentPosts.length > 0 && (
        <section id="recent-posts" class="pt-12 pb-6">
          <h2 class="text-2xl font-semibold tracking-wide">最近文章</h2>
          <ul>
            {recentPosts.map(
              (data, index) =>
                index < SITE.postPerIndex && <Card variant="h3" {...data} />
            )}
          </ul>
        </section>
      )
    }

    <div class="my-8 text-center">
      <LinkButton href="/posts/" data-astro-prefetch="tap">
        所有文章
        <IconArrowRight class="inline-block rtl:-rotate-180" />
      </LinkButton>
    </div>
  </main>
  <Footer />
</Layout>

<script>
  document.addEventListener("astro:page-load", () => {
    const indexLayout = (document.querySelector("#main-content") as HTMLElement)
      ?.dataset?.layout;
    if (indexLayout) {
      sessionStorage.setItem("backUrl", "/");
    }
  });
</script>
