---
import type { CollectionEntry } from "astro:content";
import { slugifyStr } from "@/utils/slugify";
import { getPath } from "@/utils/getPath";
import Datetime from "./Datetime.astro";
import PostViews from "./PostViews.astro";

type Props = {
  variant?: "h2" | "h3";
} & CollectionEntry<"blog">;

const { variant: Heading = "h2", id, data, filePath } = Astro.props;

const { title, description, ...props } = data;

const path = getPath(id, filePath);
---

<li class="my-6">
  <a
    href={path}
    data-astro-prefetch="tap"
    class:list={[
      "inline-block text-lg font-medium text-accent",
      "decoration-dashed underline-offset-4 hover:underline",
      "focus-visible:no-underline focus-visible:underline-offset-0",
    ]}
  >
    <Heading
      style={{ viewTransitionName: slugifyStr(title.replaceAll(".", "-")) }}
    >
      {title}
    </Heading>
  </a>
  <div class="mt-1 flex flex-wrap items-center gap-x-2 gap-y-1">
    <Datetime {...props} class="min-w-0" />
    <span aria-hidden="true" class="opacity-60">|</span>
    <PostViews path={path} />
  </div>
  <p>{description}</p>
</li>
