---
import type { HTMLAttributes } from "astro/types";
import Socials from "./Socials.astro";
import { SITE } from "@/config";
import LinkButton from "./LinkButton.astro";

const currentYear = new Date().getFullYear();

type Props = {
  noMarginTop?: boolean;
} & HTMLAttributes<"footer">;

const { noMarginTop = false, class: className, ...attrs } = Astro.props;
---

<footer
  class:list={["app-layout", { "mt-auto": !noMarginTop }, className]}
  {...attrs}
>
  <div
    class:list={[
      "py-6 sm:py-4",
      "border-t border-border",
      "flex flex-col items-center",
    ]}
  >
    <div class="flex w-full justify-center">
      <Socials />
    </div>
    <div class="my-2 flex w-full flex-col items-center text-center break-words sm:flex-row sm:justify-center sm:whitespace-nowrap">
      <span>Copyright &#169; {currentYear} {SITE.author}.</span>
      <span class="hidden sm:inline">&nbsp;|&nbsp;</span>
      <span
        >本站内容采用
        <LinkButton
          class="underline decoration-dashed underline-offset-4 hover:text-accent"
          href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh"
        >
          CC BY-NC-SA 4.0
        </LinkButton>
        协议许可，转载请注明出处。</span
      >
    </div>
  </div>
</footer>
